@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #2ac24a;
  --ink: #0b0b0b;
  --muted: #6b6b6b;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Inter', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  background-color: #020617;
}
